{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": ["react", "@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": "off",
    "react/jsx-props-no-spreading": "off",
    "no-console": "off",
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/jsx-max-props-per-line": [1, { "maximum": 5, "when": "always" }],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "arrow-body-style": 0,
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "react/prop-types": "off", // Since we do not use prop-types
    "react/require-default-props": "off" // Since we do not use prop-types
  }
}